*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
   color: #ededed;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
}
.navbar a:hover{
    color: aqua;

}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: center;
    display: flex;
    align-items: center;
    padding: 20px 10%;
    }
.home-content{
    font-size: 30px;
    font-weight: 300;
    margin: 3px 0;
    color: rgb(12, 70, 70);

}
.home-content p{
font-size: 20px;

}
.h2{
    text-align: center;
}